<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment(pageTitle)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title th:text="${pageTitle}"></title>
    <link href="/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="/mc.css" rel="stylesheet">

    <script src="/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/bootstrap-daterangepicker/moment/moment.js"></script>
    <script src="/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/bootstrap-daterangepicker/moment/locale/zh-cn.js"></script>
    <script src="/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/hplus/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/layer-v3.0.3/layer/layer.js"></script>
    <script src="/echarts/echarts.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/util/dateUtil.js"></script>
    <script src="/util/echartsUtil.js"></script>
</head>
</html>