<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment(pageTitle)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title th:text="${pageTitle}"></title>
    <link href="/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/hplus/css/animate.min.css" rel="stylesheet">
    <link href="/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="/mc.css" rel="stylesheet">

    <script src="/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/bootstrap-daterangepicker/moment/moment.js"></script>
    <script src="/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/bootstrap-daterangepicker/moment/locale/zh-cn.js"></script>
    <script src="/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/hplus/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/layer-v3.0.3/layer/layer.js"></script>
    <script src="/echarts/echarts.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/util/dateUtil.js"></script>
    <script src="/util/echartsUtil.js"></script>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--&lt;!&ndash; jQuery文件。务必在bootstrap.min.js 之前引入 &ndash;&gt;-->
    <!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
    <!--&lt;!&ndash; 最新的 Bootstrap 核心 JavaScript 文件 &ndash;&gt;-->
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->



    <link rel="stylesheet" href="/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <!-- 自定义 -->
    <link href="/iql/iql.css" rel="stylesheet"/>
    <!-- 动画 -->
    <link href="/iql/animate.css" rel="stylesheet"/>

    <!-- 在线代码编辑 -->
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/sql/sql.js"></script>
    <script src="/codemirror/addon/display/placeholder.js"></script>

    <!-- 提示 -->
    <link rel="stylesheet" href="/codemirror/addon/hint/show-hint.css"/>
    <script src="/codemirror/addon/hint/show-hint.js"></script>
    <script src="/codemirror/addon/hint/sql-hint.js"></script>
    <!-- 高亮 -->
    <script src="/codemirror/addon/selection/active-line.js"></script>
    <!-- ztree -->
    <link href="/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"/>
    <script src="/ztree/js/jquery.ztree.core-3.5.js"></script>
    <script src="/ztree/js/jquery.ztree.exedit-3.5.js"></script>
    <script src="/ztree/js/jquery.ztree.excheck-3.5.js"></script>
    <!-- 变量 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>

    <script src="/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <link href="/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/iql/dateUtil.js"></script>
    <script src="/iql/dataUtil.js"></script>

    <link href="/toastr/toastr.css" rel="stylesheet"/>
    <script src="/toastr/toastr.js"></script>

</head>
</html>