#body_1 {
    width: auto;
}

#body_top {
    border: 1px solid silver;
    height: 60px;
    width: 100%;
    background-color: chocolate;
}

#body_left {
    width: 17%;
    float: left;
}

#body_right {
    width: 82%;
    min-height: 1250px;
    height: auto !important;
    float: left;
    border-left: 1px solid #cccccc;
}

.body_lr_top {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightslategrey;
}

#iql_input {
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.panel-body {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    overflow: scroll;
}

.fixed-table-loading {
    display: none;
}

#variable {
    border-bottom: 1px solid #EFEFEF;
}

#variable ul {
    display: inline;
    white-space: nowrap;
    height: auto;
}

#variable ul li {
    padding: 10px 5px;
    display: inline-block;
    white-space: nowrap;
}

.input-prepend {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

}

.input-medium {
    border-radius: 0 4px 4px 0;
    vertical-align: top;
    display: inline-block;
    width: auto;
    height: 31px;
    min-width: 65px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #ccc;
}

.muted {
    border-radius: 4px 0 0 4px;
    display: inline-block;
    width: auto;
    height: 31px;
    min-width: 36px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    background-color: #F8F8F8;
    border: 1px solid #ccc;
    margin-right: -4px;
    line-height: 28px;
    padding: 0 5px;
}

.mybtn {
    float: left;
    width: 33.33%;
    text-align:center;
    line-height:60px;
    font-size: 20px;
    border: 1px solid #d3d3d3;
    background-color: #f0f0f0;
}

.db {
    background-color: #e6e6e6;
}

#treeHiveDB .level0 span[id$="_ico"]{
    background-image: url(./img/db.png);
    background-position: 0;
}

#treeHiveDB .level1 span[id$="_ico"]{
    background-image: url(./img/tb.jpg);
    background-position: 0;
}

#treeHiveDB .level2 span[id$="_ico"]{
    background-image: url(./img/zTreeStandard.png);
    background-position: -110px -32px;
}

div#rMenu {
    position:absolute;/* visibility:hidden; */
    top:0;
    text-align: left;
    padding: 2px;
}

div#rMenu ul li{
    margin: 1px 0;
    padding: 0 5px;
    cursor: pointer;
    list-style: none outside none;
    background-color: #DFDFDF;
}

.left_tab{
    padding-top: 15px;
    padding-right: 15px;
}

.left_tab_box{
    padding: 0px 0px 20px;
}

.left_tab_box .tabs-container .nav-tabs {
    margin-left: 0px !important;
    padding-left: 8% !important;
}

.snippet-code-resizer {
    cursor: n-resize;
    text-align: center;
    font-size: 12px;
    height: 8px;
    margin-bottom: 5px;
}

.ibox-content {
    padding-top: 0px !important;
}

.CodeMirror {
    min-height: 250px !important;
    height: 250px;
}

.CodeMirror-scroll {
    min-height: 250px !important;
    height: 250px;
}