<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>爱思大数据 - 登录</title>
  
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>

    <style>
        .middle-box {
            padding-top: 100px;
        }
    </style>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">i4</h1>

            </div>
    
            <h3>欢迎使用 爱思数据平台IQL</h3>
            

        </div>
    </div>
</body>
</html>
